@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Karla:wght@600&family=Kumbh+Sans&family=Poppins:wght@300&family=Roboto&family=Roboto+Slab:wght@700&family=Rubik+Doodle+Shadow&display=swap');

:root {
    /* --orange: #F3C178;
    --orange2: #FE5E41; */
    --peach: #FFE0AE;
    --olive-green: #6C8255;
    --olive-green-darker: #556742;
    --red-orange: #FF4500;
    --orange: #FFA303;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--peach);
    padding: 20px;
}

h1 {
    font-family: "Rubik Doodle Shadow";
    color: var(--olive-green-darker);
    /* color: var(--red-orange); */
    font-size: 50px;
}

.circle {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 5px solid var(--olive-green);
    position: relative;
    border-radius: 50%;
    padding: 4px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
